<div class="main">
<div class="cards">

    <div class="card" style="width: 18rem;" *ngFor="let i of [1,2,3,4,5,6,7]">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.websiteplanet.com%2Fblog%2Fbest-portfolio-resume-templates%2F&psig=AOvVaw2ARJ_LKyeUn-Lb5rtmUPVv&ust=1668085826403000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCOC18IqWofsCFQAAAAAdAAAAABAF" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>






</div>


</div>
