
.container-fluid {
    margin-top: 10%;
}

.paragraph {
    width: 85%;
    margin-top: 10%;
}

.checkoutPart {
    border: 1px solid #64ffda;
    background-color: #64ffdb51;
    border-radius: 5px;
    color: #64ffda;
    width: 60%;
    height: 60px;
    padding: 5px;
    margin-top: 20%;
    
}

.checkoutPart p {
    width: 100%;
    margin: auto;
    text-align: center;

}