

<div class="main">
    <h1>Job Experience</h1>
    <div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">Company name: </h3>
              <h4 class="card-subtitle mb-2 text-muted">Job title: </h4>
              <h4 class="card-text">  </h4>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>

    </div>
    <div>
        
    </div>
</div>