// .navBarText {
//     margin-top: 10%;
// }

nav ul li a {
    //background-color: #233554;
    color: white;
}

nav button {
    background-color: #64ffda;
}

.logo {
    border: 2px solid  #64ffda;
    padding: 5px;
}

.logo svg {
    color: #64ffda;
}


nav a {
    margin-right: 65%;
    padding: 1%;
}



